body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#install-bar {
    font: 400 18px / 1.77778 Segoe UI, system-ui, -apple-system, sans-serif;
    padding: 10px 30px;
    height: 60px;
    display: flex;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
}

.install-text {
    color: white;
    margin-right: 10px;
}

#button-install {
    flex-shrink: 0;
    border: none;
    display: block;
    border-radius: 6px;
    padding: 10px 20px;
    background: #FFCC40;
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
}

#button-install a {
    color: black;
    text-decoration: none;
}

#button-install:hover {
    background: #B38609;
}

.hide {
    display: none !important;
}